html{
    scroll-behavior: smooth;
}

body{
    background-color: #03090E;
    color: white;
}

.inicio-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.foto-inicio{
    display: none;
}

.kanji{
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}

.nombre{
    font-size: 2.5rem;
    font-weight: bold;
}

.titulo-inicio{
    font-size: 1.5rem;
    color: red;
}

.subtitulo-inicio{
    font-size: 1.2rem;
}


.boton-proyecto-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-proyecto-inicio{
    background-color: #A83028;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    width: 14rem;
    color: #fff;
    border: none;
    border-radius: .3rem;
}

.contactar{
    background-color: transparent;
    margin-top: 1rem;
    border: 1px solid #fff;
}

.iconos-inicio-container{
    display: flex;
    justify-content: start;
}

.iconos-inicio{
    font-size: 1.3rem;
    padding: .4rem;
}


/* PC */

@media (min-width: 1024px) {


    .foto-inicio{
        display: block;
        width: 100%;
        height: 45rem;
    }

    .inicio-container{
        flex-direction: row;
        height: 77vh;
    }

    .inicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .kanji{
        text-align: center;
    }

    .nombre{
        width: 50vw;
        text-align: center;
    }

    .titulo-inicio{
        width: 50vw;
        text-align: center;
    }

    .subtitulo-inicio{
        width: 50vw;
        text-align: center;
    }

    .boton-proyecto-container{
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .boton-proyecto-inicio{
        background-color: #A83028;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        width: 14rem;
        color: #fff;
        border: none;
        border-radius: .3rem;
        margin-left: 4rem;
    }

    .contactar{
        background-color: transparent;
        margin-top: 0rem;
        border: 1px solid #fff;
        margin-right: 4rem;
    }
}